
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="tabbable black-box" style="margin-bottom: 18px;">
          <div class="tab-header">
            Domain Name Manage
            <span class="pull-right">
              <span class="options">
                
              </span>
            </span>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab1" data-toggle="tab">
                <i class="icon-globe">
                </i>
                List
              </a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div class="separator x_dnlist_ctn">
                <!-- <div class="row-fluid inner-well">
                    <div class="span4 x-dntips">
                        <a href="javascript:;" >Stone.tk</a>
                        <span class="x-dntype">Enabled</span>
                    </div>
                    <div class="btn-group offset5">
                        <button class="button black mini">
                          <i class="icon-pencil">
                          </i>
                          Edit
                        </button>
                        <button class="button black mini">
                          <i class="icon-remove">
                          </i>
                          Delete
                        </button>
                        <button class="button black mini">
                          <i class="icon-ok">
                          </i>
                          Approve
                        </button>
                    </div>
                </div> -->
                <!-- <div class="inner-well clearfix">
                  <div class="pull-left">
                    Immediate Save
                  </div>
                  <div class="pull-right">
                    <input rel="confirm-check" type="checkbox" id="FNNqp" class="checky">
                    <label for="FNNqp" class="checky">
                      <span>
                      </span>
                    </label>
                  </div>
                </div> -->
              </div>
              <div class="padded">
                <div id="fix-stats">
                  <p>
                    <a rel="action" class="button mini rounded inset light-gray">
                      Delete Config
                    </a>
                  </p>
                  <div style="display: none;" rel="confirm-action">
                    <div class="inner-well clearfix">
                      <b>
                        Are you sure?
                      </b>
                      <div class="pull-right">
                        <input rel="confirm-check" type="checkbox" id="NxwYk" class="checky">
                        <label for="NxwYk" class="checky green">
                          <span>
                          </span>
                        </label>
                      </div>
                    </div>
                    <div class="clearfix vpadded">
                      <div class="pull-left">
                        <a href="#" class="button red" rel="confirm-do" style="display: none;">
                          Delete
                        </a>
                      </div>
                      <div class="pull-right">
                        <a href="#" class="button gray" rel="confirm-cancel">
                          Cancel
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>