<!DOCTYPE html>
<html>
<head>
<title> DEMO </title>
<meta charset="utf-8">
<meta name="name" content="DEMO">
<meta name="Description" content="DEMO">
<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<script src="/static/scripts/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
<script base-path="/static/scripts/" stone-seed="page/index.seed" src="/static/scripts/lib/Stone.js" type="text/javascript"></script>
</body>
</html>